@page
@model RazorApp2.Pages.Users.IndexModel
@using System.Data;
@{
    ViewData["Title"] = "UsersTable";
}
<h1>UsersTable</h1>
<table class='table'>
    <thead>
        <tr>
            @foreach (DataColumn column in Model.dt.Columns)
            {
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.dt.Rows)
        {
            <tr>
                @foreach (DataColumn column in Model.dt.Columns)
                {
                    <td>@row[column]</td>
                }
            </tr>
        }
    </tbody>
</table>