@page
@model RazorApp2.Pages.Users.Index1Model
@using System.Data
@{
    ViewData["Title"] = "UsersTable";
}
<h1>UsersTable</h1>

<table class='table'>
    <thead>
        <tr>
            @foreach (DataColumn column in Model.dt.Columns)
            {
                int i = 1;
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.dt.Rows)
        {
            <tr>
                @foreach (DataColumn column in Model.dt.Columns)
                {
                    if(column.ColumnName != "Birthday")
                    {
                        <td>@row[column]</td>
                    }
                    else
                    {
                        <td>@((DateTime)row[column]).ToString("dd/MM/YYYY"))</td>
                    }
                        

                    
                }
            </tr>
        }
    </tbody>
</table>

