@page
@model RazorApp2.Pages.RazorPages.IndexModel
@{
}

<h1>Razor Pages</h1>
<br />

<nav>
    <a asp-page="Razor1">Razor Page CSharp - Passing info from model to view</a> <br />
    <a asp-page="Razor2">Razor Page Form - Passing info from view to model</a>
</nav>