@page
@model RazorApp2.Pages.RazorPages.IndexModel
@{
}

<h1>Razor Pages</h1>
<h2>Using Session Object</h2>
<br /> <br />
<hr />
<h3>העברת נתונים מצד השרת לצד המשתמש - לדף</h3>
<nav>
    <a asp-page="Razor1">Razor Page CSharp</a> <br /><br />
    <a asp-page="Razor2">Using Public properties and Methods</a> <br /><br />
    <a asp-page="Razor3">Using ViewData Object</a> <br /><br />
    <a asp-page="Razor_OnPost">OnGet & OnPost</a> <br /><br />
</nav>
<hr />
<h3>העברת נתונים מצד המשתמש (הדף) לצד השרת</h3>
<nav>
    <a asp-page="/Users/Login">Using Request.Form</a> <br /><br />
    <a asp-page="/Users/Login2">Using Method parameters</a> <br /><br />
    <a asp-page="/Users/Login3">Using Bind properties with [BindProperty]</a> <br /><br />
    <a asp-page="/Users/Login4">Using Tag Helpers</a> <br /><br />
</nav>