@page
@model RazorApp2.Pages.RazorPages.OnPost2Model
@{
}
<form method="post" >
    @* @Html.AntiForgeryToken() *@
    <input type="text" name="txt" />
    <input type="submit" value="submit" />

</form>

