@page
@model RazorApp2.Pages.RazorPages.Razor1Model
@{   
}
<div>
    <h2>The current time is @DateTime.Now</h2>
</div>
<div>
    @{
        for (int i = 0; i < 10; i++)
        {
            if (i % 2 == 0)
            {
                <div style="color:red">@i</div>
            }
            else
            {
                <div style="color:blue">@(i * 2)</div>
            }
        }
        <div style="background-color:aquamarine">The end</div>
        @Html.Raw("This is a eay to write tags and text")
    }
</div>
