@page
@model RazorApp2.Pages.RazorPages.Razor1Model
@{
    ViewData["Title"] = "Razor Syndex";
}
<div>
    <h2>The current time is @DateTime.Now</h2>
</div>
<div>
    @{
        for (int i = 0; i < 10; i++)
        {
            if (i % 2 == 0)
            {
                <div style="color:red">@i</div>
            }
            else
            {
                <div style="color:blue">@i</div>
            }
        }
        <div style="background-color:aquamarine">The end</div>
        @Html.Raw("This is a way to write tags and text")
        <p>This is a way to write tags and text</p>
    }
</div>
