@page
@model RazorApp2.Pages.RazorPages.Razor_OnPostModel
@{
    ViewData["Title"] = "OnGet & OnPost";
}
<h1>@ViewData["Title"]</h1>
<br />
<form method="post">
    <input type="text" />
    <input type="submit" value="submit"/>

</form>
