@page
@model RazorApp2.Pages.RazorPages.Razor2Model
@{
}
<h2>@Model.Str</h2>
<h2>@Model.printText()</h2>
@if (Model.User == "Gilad")
{
    <div class="text-success">Wellcome @Model.User</div>
}
else
{
    <div class="text-danger">Go away</div>
}


